/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #ffffff;
}
.header .header__content {
  background-color: #002147;
  color: #ffffff;
}
.header .header__text {
  display: flex;
  justify-content: space-around;
  height: 30px;
  line-height: 30px;
}
.header .header__contact .material-icons,
.fi-telephone {
  font-size: 20px;
  color: #e0c90f;
  padding-left: 20px;
}
.header .header__contact {
  padding-left: 10px;
}
.header .header__apply {
  background-color: #e0c90f;
  padding: 0px 10px 0;
  cursor: pointer;
  color: #030303;
  font-weight: bold;
}
.header .header__contact span {
  padding-left: 5px;
}
